$colorSelect: #F16D7F;

$colorDarkGrey: #A4A4A4;

@import "_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* made this border for practicing
div,
form {
    border: 1px solid darkblue;
}
*/

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    height: 75px;
    @include centerFlexSB;
}

.header__search {
    margin-left: 41px;
}

.header__account {
    margin-left: 34px;
    margin-right: 34px;
}

.info_block {
    height: 148px;
    background: #F8F3F4;
    @include centerFlexSB;
}

.promo {
    width: 100%;
    height: auto;
    // background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.promo:hover {
    filter: brightness(50%);
}

.promo_left {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo_img {
    width: 100%;
}

.promo_right {
    max-height: 765px;
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.promo_right_block {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
}

.promo__content {
    margin-left: 16px;

}


@media (min-width:768px) and (max-width: 1139px) {}

.catalog_heading {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    padding-right: 31%;
    position: relative;
}


.details_block {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: relative;
}

details {
    min-width: 100px;
    margin-right: 20px;
    text-align: left;

}

.trending_text,
.price_text {
    padding-left: 20px;
}

// summary::marker {
//     color: white;
//     display: inline-block;
// }

.sort_param {
    position: relative;
}

.sort_param_summary {
    margin-right: 28px;
}

.sort_param_summary::after {
    content: url(img/arrow_down.svg);
    margin-left: 10px;
}

.trend_list {
    position: absolute;
    left: 0px;
}

.size_list {
    position: absolute;
    left: 160px;
}

.price_list {
    position: absolute;
    left: 237px;
}

.trend-block {
    position: absolute;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}


.size-block,
.price-block {
    position: absolute;
    width: 79px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}


.filter_block {
    width: 360px;
    display: flex;
    flex-direction: column;
    background: #fff;
}


.filter_list::after {
    content: url(img/Filter_icon.svg);
    margin-left: 10px;
}

.filter_list:hover {
    color: $colorSelect;
}

.filter_list_ul {
    background-color: #fff;

}

.category_block {
    display: flex;
    align-items: center;
    width: 90%;
    height: 37px;
    margin-left: 18px;
    margin-top: 32px;
    border-bottom: 1px solid;
    border-left-color: $colorSelect;
    border-left-width: 5px;
    border-left-style: solid;
}

.ul_inside_details {
    background: #fff;
    position: relative;
    margin-top: 10px;
    margin-left: 8px;
}

.brand_block,
.designer_block {
    display: flex;
    align-items: center;
    width: 90%;
    height: 37px;
    margin-left: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid;
    border-left-color: $colorSelect;
    border-left-width: 5px;
    border-left-style: solid;
    background-color: #fff;
}

.category_text {
    padding-left: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.filter_item {
    list-style-type: none;
    padding-left: 40px;
}

.size_item {
    text-decoration: none;
    margin-left: 40px;
}

li.size_item {
    list-style-type: none;
    list-style-image: url(img/rectangle.svg);
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.catalog_item {
    position: relative;
}

.catalog_item:not(:last-child) {
    margin-right: 30px;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include centerFlexColumn;
}

.font-white {
    color: #FFFFFF;
}

.font-pink {
    color: $colorSelect;
}

.catalog__img {
    width: 100%;
}

.catalog-big {
    margin-top: 30px;
    position: relative;
}

.catalog-big__img {
    width: 100%;
}

.featured-h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
    margin-top: 97px;
    margin-bottom: 6px;
    text-align: center;
}

.lato-11 {
    font-size: 11px;
    line-height: 13px;
}

.lato-13 {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.lato-14-center {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.lato-14px {
    font-size: 14px;
    line-height: 17px;
}

.lato-16px {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.lato-16px-white {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.lato-16px-700 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.lato-32px-700 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
}

.lato-48px-900 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.featured-content {
    margin-top: 48px;
    margin-bottom: 63px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.featured-item {
    width: 360px;
    height: 581px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
}

.featured-item:hover {
    filter: brightness(50%);
}

.featured-heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 13px;
    margin-left: 18px;
}

.featured-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    margin-left: 18px;
    margin-right: 28px;
}

.featured-pricetag {
    font-size: 16px;
    line-height: 19px;
    color: $colorSelect;
    margin-left: 18px;
    margin-bottom: 20px;
}

.carousel_block {
    width: 283px;
    height: 43px;
    border: 1px solid #c9c6c6;
    margin: 48px auto 96px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_text {
    margin: auto;
    width: 202px;
    text-align: center;
}

.carousel_text::before {
    content: url(img/arrow_left.svg);
    margin-right: 18px;
}

.carousel_text::after {
    content: url(img/arrow_right.svg);
    margin-left: 18px;
}

.button-style {
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    color: $colorSelect;
    border: 1px solid $colorSelect;
}

div a.button-style {
    margin-left: calc(50% - 100px);
    margin-right: calc(50% - 100px);
}

.lower_part {
    background-color: #222;
    /* В оригинале это цвет #222224 */
    height: 341px;
    margin-top: 109px;
    @include centerFlexSB;
}

.lower_part-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower_part-heading {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.lower_part-text {
    min-width: 348px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.before_footer {
    height: 448px;
    background-image: url("img/semi-opacity.png"), url("img/Surfing.png");
    background-repeat: no-repeat;
    background-size: auto 448px;
    background-position: center bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.round_photo {
    margin-bottom: 30px;
}

.round_photo:hover {
    transform: scale(3);
    transition-duration: 4s;
}

.lato-18px {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.lato-20px {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.lato-24px {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.lato-24px-300 {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.color_222224 {
    color: #222224;
}

.color_F16D7F {
    color: $colorSelect;
}


.color_636363 {
    color: #636363;
}

.color_EF5B70 {
    color: $colorSelect;
}

.text-center {
    text-align: center;
}

.before_footer-left,
.before_footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 155px;
    width: 352px;
    height: 137px;
}

@media (max-width: 768px) {
    .before_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: auto;
        padding-top: 45px;
    }

    .before_footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
    }

    .before_footer-right {
        margin-top: 60px;
    }


}


.form_block {
    margin-top: 32px;
    display: flex;

}

.email_field {
    height: 50px;
    background: #E1E1E1;
    padding-left: 22px;
    padding-right: 10px;
    width: 256px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.subscribe_field {
    background: $colorSelect;
    width: 100px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.subscribe_field:hover {
    transform: translate(5px, 5px)
}

.footer {
    background-color: #222;
    height: 79px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    width: 332px;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-flow: row no-wrap;
}

.social_button_white {
    background: #fff;
    width: 32px;
    height: 32px;
    border: 0px;
}

.social_button_pink {
    background: $colorSelect;
    width: 32px;
    height: 32px;
    border: 0px;
    margin-right: 8px;
}

.social_button_white:not(:last-child) {
    margin-right: 8px;
}

/* Здесь будут стили для Catalogue */

.site-info_link:last-child {
    font-weight: bold;
    color: $colorSelect;
}

.site-info_link:not(:last-child)::after {
    content: "/";
    padding-left: 8px;
    padding-right: 8px;
}

.site-info_link:hover {
    color: $colorSelect;
}

.breadcrumbs_nav {
    display: flex;
}

.sort {
    padding-top: 51px;
    padding-bottom: 18px;
    display: flex;
    position: relative;
}



.filter_block:hover {
    width: 360px;
    height: 531px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding-right: 16px;
}

.sort_filter {
    /* flex-basis: 34%;
    flex-grow: 1; */
    position: absolute;
    padding-top: 16px;
    padding-left: 16px;
}

.filter_text:hover {
    color: rgb(218, 57, 84);
}

.test:hover {
    color: rgb(218, 57, 84);
}

.svg_test:hover path {
    fill: rgb(218, 57, 84)
}

summary {
    list-style-type: none;
}

.category,
.brand,
.designer {
    display: flex;
    align-items: center;
}

.category::before,
.brand::before,
.designer::before {
    content: url(red_column.svg);
    margin-right: 11px;
}

.category_block,
.brand_block,
.designer_block {
    border-bottom: 1px solid #EBEBEB;
}



.sort_param {
    margin-left: calc(33.33333% + 25px);
    display: flex;
    padding-top: 16px;
}

// .sort_filter_active {
//     width: 360px;
//     background: #fff;
//     box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
//     padding: 16px;
// }

.sort_ul {
    list-style-type: none;
}

/* Стили для файла Product   */

.big_picture_block {
    height: 777px;
    background: #F7F7F7;
    @include centerFlexSB;
}

.arrow_block {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    border: 1px solid #EAEAEA;
    margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);
    background: #fff;
    margin-top: -60px;
    margin-bottom: 129px;
    z-index: 10;
    position: relative;
}

.product_short_name {
    padding-bottom: 12px;
}

.product_title {
    padding-top: 12px;
    padding-bottom: 48px;
}

.product_description {
    width: 50%;
    padding-bottom: 32px;
    text-align: center;
}

.pricetag {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.greyline {
    width: 641px;
    padding-top: 65px;
    padding-bottom: 65px;

}

.select_param {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.add_to_cart {
    width: 211px;
    height: 47px;
    margin-top: 48px;
    margin-bottom: 65px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #FF6A6A;
}

/* Styles for Cart page */

.cart_heading {
    height: 148px;
    background: #F8F3F4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.purchase_block {
    height: 998px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.purchase_left_side,
-purchase_right_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.purchase_left_side {
    padding-top: 96px;
    padding-bottom: 128px;
}

.purchase_right_side {
    padding-top: 113px;
    padding-bottom: 342px;
}


.purchase_card {
    width: 652px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

    img {
        width: 262px;
    }

    .textblock {
        width: 390px;
        padding: 22px 97px 62px 31px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .close_button {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 28px;
        right: 22px;
    }
}

.shipping_form {
    width: 360px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 57px;

    .input_text {
        height: 45px;
        padding-left: 17px;
        padding-right: 17px;
        border: 1px solid $colorDarkGrey;
    }

    button {
        width: 101px;
        height: 35px;
        background-color: #fff;
        padding: 10px 14px 15px 12px;
        border: 1px solid $colorDarkGrey;
        font-size: 11px;
        color: $colorDarkGrey;
    }

}

.checkout_block {
    width: 360px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 39px;
    padding-bottom: 42px;
    padding-right: 35px;
    background: #F5F3F3;

}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 108px;
    margin-bottom: 12px;

}

.grand_total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
    margin-bottom: 21px;
}

.grand_total_number {
    color: $colorSelect;
}

.grey_divider {
    height: 2px;
    margin-bottom: 17px;
}

.proceed {
    width: 273px;
    height: 50px;
    background: $colorSelect;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 40px;
}

/*Style of Registration file */

.registration_block {
    height: 675px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.registration_left_side {
    width: 33%;
    max-width: 360px;
    padding-top: 64px;
}

#first_name {
    margin-top: 20px;
    margin-bottom: 20px;
}

#last_name {
    margin-bottom: 34px;
}

#first_name,
#last_name,
#email,
#password {
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding-left: 17px;
    padding-right: 17px;
}

.login_heading {
    margin-top: 34px;
    margin-bottom: 20px;
}

#password {
    margin-top: 20px;
    margin-bottom: 15px;
}

.submit_button {
    width: 167px;
    height: 50px;
    color: #fff;
    border: none;
    background: $colorSelect;
    padding: 16px 29px 17px 29px;
    margin-top: 39px;
}

.submit_button:after {
    content: url(img/white_arrow.svg);
    margin-left: 20px;
}

// .submit_button:hover {
//     transform: rotate(360deg);
//     transition-duration: 4s;
// }

.login_text {
    color: #B1B1B1;
}

.registration_right_side {
    width: 66%;
    padding: 64px 10px 277px 128px;
    display: flex;
    flex-direction: column;
    justify-content: space space-between;
    align-items: flex-start;
}

.loyalty_text {
    padding-top: 22px;
    padding-bottom: 22px;
}

.loyalty_li {
    padding-bottom: 16px;
}

.loyalty_li::before {
    content: url(img/tick.svg);
    padding-right: 23px;
}

// .featured-item img:hover {
//     transform: scale(1.5);
//     transition-duration: 2s;
//     transition-delay: 1s;
// }

/* Experiments with adaptive design */

@media (max-width: 768px) {
    .catalog-big {
        margin-left: 16px;
        margin-right: 16px;
    }


}

@media (max-width: 768px) {
    .featured-content {
        // margin-left: 16px;
        // margin-right: 16px;
        flex-direction: column;
        align-items: center;
    }

    .header {
        padding-left: 18px;
        padding-right: 18px;
    }

}

@media (max-width: 769px) {
    .catalog {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .catalog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .catalog_item:not(:last-child) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .catalog_item {
        margin-bottom: 32px;
    }
}

@media (max-width:768px) {
    .catalog-big {
        min-height: 111px;
    }

}


@media (min-width: 769px) and (max-width: 1139px) {
    .featured-content {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }
}

@media (max-width: 1139px) {
    .lower_part {
        flex-direction: column;
        align-items: center;
        padding-bottom: 64px;
        height: auto;
    }

    .lower_part-item {
        margin-top: 48px;
    }
}